In [1]:
import pandas as pd

df = pd.read_csv("datasets.csv")
df2 = df.copy()
df.head(1)

,name,rows,cols,ub,link
0,Telco Customer Churn,7043,21,8.82,https://www.kaggle.com/datasets/blastchar/telc...

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

from selenium.common.exceptions import NoSuchElementException

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

In [55]:
def wait_return_text (driver, loc):
    try:
        return WebDriverWait(driver, 3).until(EC.presence_of_element_located((By.CSS_SELECTOR, loc))).text
    except:
        return False
    
def get_ub(driver):
    try:
        parent = WebDriverWait(driver, 3).until(EC.presence_of_element_located((By.XPATH, "//h2[text()='Usability']"))).find_element(By.XPATH, "..").find_element(By.XPATH, "..")
        return parent.find_elements(By.XPATH, "./*")[1].text
    except:
        return False
    
def get_name(driver):
    try:
        element = WebDriverWait(driver, 3).until(EC.presence_of_element_located((By.XPATH, "//div[@wrap='hide']"))).find_elements(By.XPATH, "./*")[0].find_elements(By.XPATH, "./*")[0]
        return element.text
    except:
        return False

In [145]:
def get_rows_cols(driver):
    parent = WebDriverWait(driver, 3).until(EC.presence_of_element_located((By.XPATH, "//div[text()='Total Rows']"))).find_element(By.XPATH, "..").find_element(By.XPATH, "..").find_element(By.XPATH, "..").find_element(By.XPATH, "..").find_element(By.XPATH, "..").find_element(By.XPATH, "..").find_element(By.XPATH, "..").find_element(By.XPATH, "..")
    texts = [i.text for i in parent.find_elements(By.XPATH, "./*")][1].split("\n")
    mv = max(int(texts[i]) for i in range(len(texts)) if i % 3 == 1)
    return mv, texts[texts.index(str(mv)) +1]

In [98]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

In [146]:
for idx, row in df2.iterrows():
    if df2.at[idx, 'name'] != 'False':
        continue
    tmp_link = df2.at[idx, 'link']
    driver.get(tmp_link)
    try:
        rows, cols = get_rows_cols(driver)
        df2.at[idx, 'name'] = get_name(driver)
        df2.at[idx, 'ub'] = get_ub(driver)
        df2.at[idx, 'rows'] = rows
        df2.at[idx, 'cols'] = cols
    except:
        continue

In [148]:
print((df == "False").any(axis=1).sum())
print((df2 == "False").any(axis=1).sum())

171
97

In [ ]:
for idx, row in df2.iterrows():
    rows = df2.at[idx, 'rows']
    cols = df2.at[idx, 'cols']
    try:
        rows = str(rows)
    except:
    try:
        cols = str(cols)
    except:
    if ("k" in rows) or ("K" in rows):
        try:
            rows = float(rows[:-1])*1000

In [162]:
a = "123456"
a[:-1]

'12345'

In [161]:
df2

,name,rows,cols,ub,link
0,Telco Customer Churn,7043,21,8.82,https://www.kaggle.com/datasets/blastchar/telc...
1,Customer Churn,3333,11,9.41,https://www.kaggle.com/datasets/barun2104/tele...
2,Bank Customer Churn,10000,18,10.00,https://www.kaggle.com/datasets/radheshyamkoll...
3,Customer Churn Dataset,64.4k,12,10.00,https://www.kaggle.com/datasets/muhammadshahid...
4,Bank Customer Churn Dataset,10000,12,10.00,https://www.kaggle.com/datasets/gauravtopre/ba...
...,...,...,...,...,...
763,telco_churn_csv,7043,21,1.18,https://www.kaggle.com/datasets/mydang1306/tel...
764,Telcom_Customer_Churn,7043,30,0,https://www.kaggle.com/datasets/hinalpandya159...
765,hcltech_dataset,999,22,0,https://www.kaggle.com/datasets/ankitprem/hclt...
766,uv6696,6347,13,0,https://www.kaggle.com/datasets/dnyaneshpainja...
767,Churn_Modelling,10000,14,5.29,https://www.kaggle.com/datasets/jayapriyadatas...