In [ ]:
import pandas as pd
import re

In [81]:
df1 = pd.read_csv("ml_case_training_data.csv", encoding='utf-8')
df2 = pd.read_csv("ml_case_training_hist_data.csv", encoding='cp949')
df3 = pd.read_csv("ml_case_training_output.csv", encoding='utf-8')

df1.shape , df2.shape, df3.shape

((16096, 32), (193002, 8), (16096, 2))

In [82]:
print('df1 칼럼들 : ',df1.columns)
print('df2 칼럼들 : ',df2.columns)
print('df3 칼럼들 : ',df3.columns)

df1 칼럼들 :  Index(['id', 'activity_new', 'campaign_disc_ele', 'channel_sales', 'cons_12m',
       'cons_gas_12m', 'cons_last_month', 'date_activ', 'date_end',
       'date_first_activ', 'date_modif_prod', 'date_renewal',
       'forecast_base_bill_ele', 'forecast_base_bill_year',
       'forecast_bill_12m', 'forecast_cons', 'forecast_cons_12m',
       'forecast_cons_year', 'forecast_discount_energy',
       'forecast_meter_rent_12m', 'forecast_price_energy_p1',
       'forecast_price_energy_p2', 'forecast_price_pow_p1', 'has_gas',
       'imp_cons', 'margin_gross_pow_ele', 'margin_net_pow_ele', 'nb_prod_act',
       'net_margin', 'num_years_antig', 'origin_up', 'pow_max'],
      dtype='object')
df2 칼럼들 :  Index(['id', 'price_date', 'price_p1_var', 'price_p2_var', 'price_p3_var',
       'price_p1_fix', 'price_p2_fix', 'price_p3_fix'],
      dtype='object')
df3 칼럼들 :  Index(['id', 'churn'], dtype='object')

In [ ]:
df1.head()

In [ ]:
df1.head(5)

In [ ]:
df2.head(5)

In [ ]:
def columns_with_missing_percentage(df, threshold):
    missing_percentage = df.isnull().mean() * 100
    cols_above_threshold = missing_percentage[missing_percentage >= threshold].index.tolist()
    return cols_above_threshold

dcols_df1 = columns_with_missing_percentage(df1, 70)
clean_df1 = df1.drop(columns=dcols_df1)
clean_df1.shape

In [ ]:
clean_df1.head()

In [ ]:
df1.shape

In [ ]:
df2.shape

In [ ]:
dcols_df1

In [ ]:
df2.columns

In [ ]:
for col in df1.columns:
    missing_ratio = df1[col].isnull().mean() * 100
    print(f"{col}: {missing_ratio:.2f}%")

In [ ]:
for col in df1.columns:
    if pd.api.types.is_integer_dtype(df1[col]) or pd.api.types.is_object_dtype(df1[col]) or pd.api.types.is_categorical_dtype(df1[col]):
        # 이산형: 정수형, 문자형, 카테고리형
        cardinality = df1[col].nunique()
        print(f"{cardinality}")
    elif pd.api.types.is_float_dtype(df1[col]):
        # 연속형: 실수형
        print(f"-")
    else:
        # 기타 데이터형
        print(f"-")

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'NanumGothic'  # 또는 'Malgun Gothic', 'AppleGothic' 등 시스템에 설치된 한글 폰트명


for col in df1.columns:
    cardinality = df1[col].nunique()
    if (0 < cardinality <= 20) or col =="activity_new":
        value_counts = df1[col].value_counts(normalize=True)
        plt.figure(figsize=(5, 5))
        value_counts.plot.pie(autopct='%1.1f%%', startangle=90)
        plt.title(f"{col} (카디널리티: {cardinality})")
        plt.ylabel('')  # y축 레이블 제거
        plt.show()

In [ ]:
df2.groupby("id").sum

In [ ]:
grouped_sum = df2.groupby('id').count()
type(grouped_sum)

In [ ]:
grouped_sum.columns

In [ ]:
grouped_sum["price_date"].unique()

In [ ]:
discrete_cols = df2.select_dtypes(include=['object', 'category']).columns.tolist()
continuous_cols = df2.select_dtypes(include=['number']).columns.tolist()

In [ ]:
import matplotlib.pyplot as plt

# 고유값별 비율 계산 (normalize=True로 비율, *100으로 퍼센트)
value_counts = grouped_sum["price_date"].value_counts(normalize=True) * 100

# 파이차트 시각화
plt.figure(figsize=(6, 6))
value_counts.plot.pie(autopct='%1.1f%%', startangle=90)
plt.title('Price Date Unique Value Ratio')
plt.ylabel('')  # y축 레이블 제거
plt.show()

In [ ]:
df2.head(10)

In [ ]:
count_by_id = df2.groupby('id').size()

In [ ]:
count_by_id
ids_not_12 = count_by_id[count_by_id != 12].index.tolist()

In [ ]:
df2[df2['id'].isin(ids_not_12)].head(20)

In [ ]:
df2['price_date'].unique()

In [ ]:
for col in df1.columns:
    if df1[col].isnull().any():
        print(1)
    else:
        print(0)

In [ ]:
df1["activity_new"].unique()

In [78]:
df1 = pd.merge(df1, df3, on='id', how='inner')  # 두 번째 병합

In [79]:
df1.shape

(16096, 33)

In [80]:
df2

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.000000,0.000000,44.266931,0.00000,0.000000
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.000000,0.000000,44.266931,0.00000,0.000000
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.000000,0.000000,44.266931,0.00000,0.000000
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.000000,0.000000,44.266931,0.00000,0.000000
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.000000,0.000000,44.266931,0.00000,0.000000
...,...,...,...,...,...,...,...,...
192997,16f51cdc2baa19af0b940ee1b3dd17d5,2015-08-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192998,16f51cdc2baa19af0b940ee1b3dd17d5,2015-09-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192999,16f51cdc2baa19af0b940ee1b3dd17d5,2015-10-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
193000,16f51cdc2baa19af0b940ee1b3dd17d5,2015-11-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
193001,16f51cdc2baa19af0b940ee1b3dd17d5,2015-12-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555